@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    img {
        width: 100%; /* Ajustei para porcentgem e ficou melhor */
    }

    ul {
        text-align: center;
    }
    /* Consertei o aside e o article para nao ocuparem so a metade das telas pequenas */
    aside {
        width: 100%;
    }

    article {
        width: 100%;
    }
}